body {
  text-align: center;
  background: linear-gradient(to bottom, #7F00CA, #BF8DDD);
  font-family: sans-serif;
  margin: 0;
}

#container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5E4FF;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
  min-height: 350px;
  background-color: #F5E4FF;
}

.pets {
  clear: left;
}

.column img {
  width: 100%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-family: cursive;
  font-size: 60px;
}

.column p {
  padding: 0 50px;
}

@media screen and (max-width: 768px) {

  #container {
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .column p {
    padding: 0 10px;
  }


}

@media screen and (max-width: 480px) {

  #container {
    width: 100%;
  }

}
