body {
  text-align: center;
  background: linear-gradient(to bottom, #7F00CA, #BF8DDD);
  font-family: sans-serif;
  margin: 0;
}

.description {
  font-weight: bold;
}

h3 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.barney {
  border-radius: 100%;
  width: 300px;
}

#container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5E4FF;
}


.column {
  float: left;
  width: 50%;
  text-align: center;
  min-height: 350px;
  background-color: #F5E4FF;
  height: 400px;
  border-bottom: 10px solid purple;
}

.pets {
  clear: left;
}

.column img {
  width: 100%;
  max-width: 350px;
  padding-top: 10px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-family: cursive;
  font-size: 60px;
}

.column p {
  padding: 0 50px;
}

@media screen and (max-width: 1500px) {

  #container {
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .column p {
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {

  #container {
    width: 100%;
  }

  .column {
    float: none;
    width: 100%;
    min-height: 0;
    border-bottom: 0;
    height: 400px;
    padding-top: 10px;
  }

  .column img {
    margin-top: -140px;
  }

  .pets {
    border-bottom: 10px solid purple;
  }
}

@media screen and (min-width: 1000px) {

  .column img {
    width: 70%;
  }

}
